# file options

--symlinks ignore
--swiftversion 5.6

# rules
--enable isEmpty
--enable fileHeader
--disable andOperator
--disable wrapMultilineStatementBraces

# format options

--exclude Sources/KlaviyoSwift/Vendor,Sources/KlaviyoCore/Vendor,Tests/KlaviyoSwiftTests/Vendor,Tests/KlaviyoSwiftTests/__Snapshots__
--header //\n//  {file}\n//  Klaviyo Swift SDK\n//\n//  Copyright © {year} Klaviyo, Inc. Licensed under the MIT License.\n//
--closingparen balanced
--commas inline
--comments indent
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--fractiongrouping disabled
--ifdef no-indent
--importgrouping testable-top
--operatorfunc no-space
--nospaceoperators ..<, ...
--selfrequired validate
--stripunusedargs closure-only
--wraparguments preserve
--wrapcollections preserve
--wrapparameters preserve
--funcattributes prev-line
--typeattributes prev-line
